<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscar Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerms" (ionChange)="search()"></ion-searchbar>

  <ion-item>
    <ion-label>Seleciona o tipo</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="search()">
      <ion-select-option value="">Tudo</ion-select-option>
      <ion-select-option value="movie">Filmes</ion-select-option>
      <ion-select-option value="series">Séries</ion-select-option>
      <ion-select-option value="episode">Espisodios</ion-select-option>
      <ion-select-option value="game">Jogos</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (result | async)" [routerLink]="['/', 'filmes-detalhes', item.imdbID]">
    <ion-avatar slot="start">
      <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'"/>
    </ion-avatar>
    <ion-label text-wrap> 
      <h3>{{item.Title}}</h3> - {{item.Year}}
    </ion-label>
    <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'espisode'" name="desktoup-outline"></ion-icon>
    <ion-icon slot="end" *ngIf="item.Type == 'game'" name="game-controller-outline"></ion-icon>

    </ion-item>
  </ion-list>
</ion-content>
