<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="fast-food-outline"></ion-icon>
      Principal
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      Carrinho
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      Conta
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>