<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>Principal</span>
      <ion-icon name="chevron-ron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <swiper-container [modules]="swiperModules" [slidesPerView]="1.2" [initialSlide]="0" [centeredSlides]="true" autoplay="true"
  [spaceBetween]="20" [pagination]="{clickable: true, dynamicBullets: true}">
    <swiper-slide>
      <img src="assets/img/img1.jpeg">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/img2.jpeg">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/img/img3.jpeg">
    </swiper-slide>
  </swiper-container>
  </div>

  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>Restaurantes Próximos</h4>
        <p>Descubra restaurantes próximos de você!</p>
      </ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/img/LogoDomHenrique.jpeg">
      </ion-thumbnail>
      <ion-label>
        <h4>Dom Henrique</h4>
        <ion-text color="medium">
          <p class="pStyle">Hamburguer, Café</p>
          <span><ion-icon name="star"></ion-icon>5.</span>
          25 min. R$ 100,00 para 2
          <ion-text>
            <p class="distance">2.59 kms</p>
          </ion-text>
        </ion-text>
      </ion-label>
    </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/LogoPaulistana.jpeg">
    </ion-thumbnail>
    <ion-label>
      <h4>Paulistana</h4>
      <ion-text color="medium">
        <p class="pStyle">Pizza</p>
        <span><ion-icon name="star"></ion-icon>5.</span>
        25 min. R$ 100,00 para 2
        <ion-text>
          <p class="distance">4.21 kms</p>
        </ion-text>
      </ion-text>
    </ion-label>
  </ion-item>


  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/LogoTerroah.jpeg">
    </ion-thumbnail>
    <ion-label>
      <h4>Terroah</h4>
      <ion-text color="medium">
        <p class="pStyle">Café, Janta</p>
        <span><ion-icon name="star"></ion-icon>4.9</span>
        25 min. R$ 100,00 para 2
        <ion-text>
          <p class="distance">1.43 kms</p>
        </ion-text>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/img/LogoDomNunez.jpeg">
    </ion-thumbnail>
    <ion-label>
      <h4>Dom Núnez</h4>
      <ion-text color="medium">
        <p class="pStyle">Almoço e Janta</p>
        <span><ion-icon name="star"></ion-icon>4.8</span>
        25 min. R$ 100,00 para 2
        <ion-text>
          <p class="distance">3.43 kms</p>
        </ion-text>
      </ion-text>
    </ion-label>
  </ion-item>

  </ion-list>
</ion-content>
