<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="md">
      <span>Principal</span>
      <ion-icon name="chevron-ron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!---Banner-->
  <app-banner *ngIf="!isLoading" [bannerImages]="banners"></app-banner>
  <div *ngIf="isLoading">
    <ion-skeleton-text animated style="height: 25vh;"></ion-skeleton-text>
  </div>

  <ion-list *ngIf="!isLoading">
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>Restaurantes Próximos</h4>
        <p>Descubra restaurantes próximos de você!</p>
      </ion-label>
    </ion-list-header>
  </ion-list>

      <!--Item de restaurante-->
      <app-loading-restaurant  *ngIf="isLoading"></app-loading-restaurant>
      <ion-item-group *ngIf="restaurants?.length > 0">
        <app-restaurant *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></app-restaurant>
      </ion-item-group>
      
</ion-content>
