ion-list{
  height: 100%;
  width: 100%;
}

ion-item{
  margin: 0 auto;
}

ion-content{
  height:100%;
}

ion-fab-button, ion-button{
  margin: 0 auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 20%;
  font-size: 20pt;
  --background: #333333;
  --background-activated: #464646;
}

.cinza{
  --background: #a5a5a5;
  --background-activated: #8d8c8c;
  --color: #050505;
}

.amarelo{
  --background: #ff9f0c;
  --background-activated: #f3b75d;
}

#zero{
  --border-radius: 60px;
  width: 45%;
  height: 90%;
}

ion-input{
  font-size: 50pt;
  text-align: right;
  margin-right: 7%;
}