<ion-list>
  <ion-item lines="none" *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h4>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      </h4>
      <p>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      </p>  
    </ion-label>
  </ion-item>
</ion-list>