<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="data?.name">
    <ion-row style="margin: 0.5rem;">
      <ion-label>
        <h1>{{data?.name}}</h1>
        <ion-text *ngIf="data?.cuisines">
          <p>{{getCuisine(data.cuisines)}}</p>
        </ion-text>
      </ion-label>
    </ion-row>

    <ion-row class="dashedBorderBottom">
      <ion-col size="4">
        <ion-label class="ion-text-center">
          <ion-text>
            <p><ion-icon name="star"></ion-icon>{{data?.rating}}</p>
            <p>Avaliação</p>
          </ion-text>
        </ion-label>
      </ion-col>

      <ion-col size="4">
        <ion-label class="ion-text-center">
          <ion-text>
            <p>{{data?.delivery_time}}</p>
            <p>Entrega</p>
          </ion-text>
        </ion-label>
      </ion-col>

      <ion-col size="4">
        <ion-label class="ion-text-center">
          <ion-text>
            <p>R$ {{data?.price}}</p>
            <p>Valor para dois</p>
          </ion-text>
        </ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-row class="ion-padding veg">
    <ion-label>
    <h4 style="margin-right: 0.5rem;">Somente Vegano</h4>
    </ion-label>
    <ion-toggle mode="md" color="success" (ionChange)="vegOnly($event)"
   [(ngModel)]="veg"></ion-toggle>
    </ion-row>

  <ion-list lines="none" *ngFor="let category of categories">
    <ion-list-header>{{category?.name}}</ion-list-header>
    <ng-container *ngFor="let item of items; let i = index">
      <ion-item *ngIf="category.id == item.category_id">
        <ion-thumbnail slot="start">
          <img [src]="item?.cover"/>
        </ion-thumbnail>
        <ion-label>
          <h4>{{item?.name}}</h4>
          <p class="ion-text-wrap">{{item?.desc}}</p>
          <ion-text><p>R$: {{item?.price}}</p></ion-text>
        </ion-label>

        <ion-row  *ngIf="!item?.quantity || item?.quantity <= 0" (click)="quantityPlus(item, i)">
          <ion-text class="ion-padding-horizontal" color="success"> Adicionar</ion-text>
        </ion-row>


        <ion-row *ngIf="item?.quantity > 0">
          <ion-text class="ion-padding-horizontal" color="success">
            <ion-icon color="success" name="remove-outline" (click)="quantityMinus(item, i)"></ion-icon>
            <ion-text class="ion-text-center quantity" color="success">{{item.quantity}}</ion-text>
            <ion-icon color="success" name="add-outline" (click)="quantityPlus(item, i)"></ion-icon>
          </ion-text>
        </ion-row>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer *ngIf="cartData?.totalItem > 0">
  <ion-toolbar color="sucess">
    <ion-label>
      <h4>{{cartData?.totalItem}}
        <span *ngIf="cartData?.totalItem > 1"></span>
         | R$ {{cartData?.totalPrice}}</h4>
      <ion-text color="light">
        <p>Taxas extras podem ser aplicadas</p>
      </ion-text>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="viewCart()">
      <ion-icon slot="end" name="basket-outline"></ion-icon>
      Ver carrinho
    </ion-button>
  </ion-toolbar>
</ion-footer>
