<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CADASTRAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm">

      <!--********************************************************************************************-->

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <!--Mensagem erro de email-->
      <span *ngIf="formCadastrar.get('email')?.touched
      && formCadastrar.get('email')?.errors?.['required']">Email obrigatório!</span>
      <span *ngIf="formCadastrar.get('email')?.dirty
      && formCadastrar.get('email')?.errors?.['email']">Formato de email inválido!</span>

      <!--********************************************************************************************-->

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
      <!--Mensagem erro de senha-->
      <span *ngIf="formCadastrar.get('email')?.touched
      && formCadastrar.get('senha')?.errors?.['required']">Senha obrigatória!</span>
      <span *ngIf="formCadastrar.get('email')?.dirty
      && formCadastrar.get('senha')?.errors?.['minlength']">Senha precisa ter no mínimo 6 dígitos</span>

      <!--********************************************************************************************-->

      <ion-item>
        <ion-label position="floating">Confrimação de Senha</ion-label>
        <ion-input type="password" formControlSenha="senha"></ion-input>
      </ion-item>
      <!--Mensagem erro confirmação de senha-->
      <span *ngIf="formCadastrar.get('email')?.touched
      && formCadastrar.get('confSenha')?.errors?.['required']">Confirmação de Senha obrigatória!</span>
      <span *ngIf="formCadastrar.get('email')?.dirty
      && formCadastrar.get('confSenha')?.errors?.['minlength']">Confirmação de Senha precisa ter no mínimo 6 dígitos</span>
      <span *ngIf="formCadastrar.get('confSenha')?.dirty && (this.formCadastrar.get('senha')?.value != this.formCadastrar.get('confSenha')?.value)">As senhas não conferem.</span>

      <!--********************************************************************************************-->

      <ion-button expand="full" color="success" type="submit">Cadastrar</ion-button>
      <ion-button expand="full" color="danger" (click)="logarComGoogle()">
        Entrar com Google
        <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
